<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCldMIYB2u18gTadoaM7d6kq0X1pWvQhYs</string>
	<key>GCM_SENDER_ID</key>
	<string>182653898436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eightroutes.InstagramTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-e0290</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-e0290.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182653898436:ios:22cf27b96f216217048391</string>
</dict>
</plist>